.main_chat
  .main_chat_top
    .group_box
      .group_box__name
        = @group.name
      .group_box__member
        Member:
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .group_edit
      = link_to  edit_group_path(@group.id), class: 'btn group_edit--btn' do
        Edit

  .messages
    = render partial: 'message', collection: @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      = f.label :image, class: 'form__image' do
        = icon('fas', 'image', class: 'form__image--icon')
        = f.file_field :image, class: 'form__image--hidden'
      = f.submit 'Send', class: 'form__submit'
          