.side_bar
  .user_box
    .user_box__name
      = current_user.name
    .user_box__btn
      =link_to new_group_path, class: "user_box__btn--edit" do
        .i.fa.fa-edit 
      =link_to edit_user_path(current_user), class: "user_box__btn--setting" do
        .i.fa.fa-cog
  
  .side_bar_bottom
    - current_user.groups.each do |group|
      .groups
        = link_to group_messages_path(group), class: "group_name" do
          = group.name
        = link_to group_messages_path(group), class: "group_message" do
          = group.show_last_message  